{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Flask Login Example
</h1>
<h2 class="subtitle">
    Create a Login page using Flask :)
</h2>
{% endblock %}


---------------Folder prject name
               ├── __init__.py # setup your app
               ├── main.py   # the non-auth routes for your app
               ├── auth.py   # the auth routes for your app
               ├── models.py # your user model
               ├── db.sqlite # your database
               └── templates
                    ├── base.html     # contains common layout and links
                    ├── index.html    # show the home page
                    ├── login.html    # show the login form
                    ├── profile.html  # show the profile page
                    └── signup.html   # show the signup form
